apiVersion: v1
kind: Service
metadata:
  name: nginx-service
#  namespace: prod-apps
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80          # Service ka internal port
      targetPort: 80    # Pod ka port
      nodePort: 30080   # Static port (Range: 30000-32767)